/* q & a */
.accordion {
   position: relative;
    background: white;
    
    color: rgb(70 65 65 / 71%);
    cursor: pointer;
    padding: 18px;
    width: 100%;
   border: 0;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
  }
  .section-q{
    padding: 25px 0;
    margin-bottom: 50px;
  }
  .section-q h2{
    font-weight: 600;
  }
  
  .section-q .active, .accordion:hover {
    color: rgb(70, 65, 65);
    .overlay:nth-child(odd){
      opacity: 1;
      height: 10px;
    }
     .overlay:nth-child(even){
      opacity: 1;
      width: 10px;
    }
  }
  
  
  .panel {
    padding: 0px 18px;
    background-color: white;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p{
      padding-top: 10px;
      margin-top: 20px;
      text-align: left;
  }
  
  
  @media screen and (max-width:600px) {
      .accordion {
          width: 100%;
          font-size: 15px;
          
      }
  .section-q  .prpl{
    font-size: 30px !important;
   
  }   
 
      
  }
/* position absolute lines */
.accordion .overlay{
  position: absolute;
  background: #b51201;
  transition: 0.5s;
  opacity: 0;
  border-radius: 2px;
}
.accordion .overlay:nth-child(odd){
  height: 20px;
  width: 2px;
}
.accordion .overlay:nth-child(even){
  width: 20px;
  height: 2px;
}

.accordion .overlay:nth-child(1),
.accordion .overlay:nth-child(2)
{
  left: 0;
  top: 0;
}
.accordion .overlay:nth-child(3),
.accordion .overlay:nth-child(4)
{
  right: 0;
  top: 0;
}
.accordion .overlay:nth-child(5),
.accordion .overlay:nth-child(6)
{
  right: 0;
  bottom: 0;
}
.accordion .overlay:nth-child(7),
.accordion .overlay:nth-child(8)
{
  left: 0;
  bottom: 0;
}